<head>
    <title>Flask Music Database</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
 
<h2>Flask Music Database</h2>
 
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div>
    <a class="btn" href="{{ url_for('new_album') }}">New Album</a>
    {% for q in qry %}
        <p>{{ q.title }} - {{ q.artist }}</p>
    {% endfor %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.select) }}
            {{ render_field(form.search) }}
         </dl>
        <input type=submit value=Search>
    </form>
</div>
 